<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubDen | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <img src="/img/logo.png" alt="ClubDen">

            <!-- Hamburger Menu Icon -->
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <!-- End of Hamburger Menu Icon -->

            <ul class="nav-list left">
                <li><a href="/">Home</a></li>
                <li><a href="/allJobs">Current Club Openings</a></li>
                <li><a class="active" href="/allEmployers">Club Details</a></li>
                <li><a href="https://srm-clubs.vercel.app/">SRM Nexus</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <div class="header" style="background-color: #f8f9fa; padding: 20px; border-bottom: 2px solid #dee2e6;">
            <h1 style="font-size: 2em; text-align: center; color: #343a40;">Clubs Live Right Now</h1>
        </div>
    </section>

    <section>
        <div class="job-cards-containers" id="job">
            <div class="job-card" style="max-height: 600px; overflow-y: auto; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <% for (var i = 0; i < employer.length; i++) { %> 
                    <div style="display: flex; align-items: flex-start; margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                        <div style="padding: 10px; background-color: #f0f0f0; border-radius: 5px; width: 50px; text-align: center; margin-right: 20px;">
                            <%= i + 1 %>
                        </div>
                        <div>
                            <p style="margin-bottom: 10px;"><strong>Club Name:</strong> <%= employer[i].name %> </p>
                            <p style="margin-bottom: 10px;"><strong>Email:</strong> 
                              <% if (employer[i].email) { %>
                                <a href="mailto:<%= employer[i].email %>"><%= employer[i].email %></a>
                              <% } else { %>
                                Not Available
                              <% } %>
                            </p> 
                            <p style="margin-bottom: 10px;"><strong>Website:</strong> 
                              <% if (employer[i].website) { %>
                                <a href="<%= employer[i].website %>" target="_blank"><%= employer[i].website %></a>
                              <% } else { %>
                                Not Available
                              <% } %>
                            </p> 
                            <p style="margin-bottom: 10px;"><strong>Description:</strong> <%= employer[i].description %> </p> 
                        </div>
                    </div>
                    <% if (i != employer.length-1) {%> 
                        <hr style="margin-bottom: 20px;">
                    <% } %> 
                <% } %> 
            </div>
        </div>
    </section>
    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navList = document.querySelector('.nav-list');

        menuToggle.addEventListener('click', () => {
            navList.classList.toggle('active');
        });
    </script>
    <script src="./allJobs.js"></script>
</body>

<footer>
    <div class="copyright">
        <p>Copyright &copy; 2023 ClubDenβ Version. All rights reserved to the Developers Love, Uday & Shaurya</p>
    </div>
</footer>

</html>

